@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");



:root {
  --Light-grey: hsl(0, 0%, 86%);
  --Smokey-grey: hsl(0, 1%, 44%);
  --Off-black: hsl(0, 0%, 8%);
  --Light-red: hsl(0, 100%, 67%);
}

* {
  font-family: Poppins;
}
body {
  display: flex;
  justify-content: center;
  background-color: hsl(0, 0%, 94%);
  align-items: center;
  min-height: 100vh;
  font-family: Pop !important;
}
.container {
  background-color: hsl(0, 0%, 100%);
  width: 420px;
  max-width: 80%;
  padding: 30px;
  position: relative;
  border-bottom-right-radius: 150px;
}
input {
  width: 70px;
  padding: 10px;
  border-radius: 5px;
  border: 2px solid hsl(0, 0%, 94%);
  margin: 0.8rem 0;
  /* border: none; */
  outline: none;
}
input:focus {
  border: 2px solid hsl(259, 100%, 65%);
}

small {
  color: red;
  font-size: 0.6rem;
  font-weight: bold;
  text-transform: capitalize;
}
.submit-btn {
  width: 70px;
  height: 70px;
  padding: 20px;
  display: flex;
  background-color: hsl(259, 100%, 65%);
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 50%;
  position: absolute;
  /* right: 30px;
  top: 60px; */
  right: 20px;
  top: 98px;
  cursor: pointer;
}
.submit-btn:hover {
  background-color: black;
}
.output {
  font-size: 2rem;
}
.output span {
  /* font-size: 3.75rem; */
  color: hsl(259, 100%, 65%);
  font-style: italic;
}
.input-container {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  margin-bottom: 20px;
}
.input-flex {
  display: flex;
  border-bottom: 2px solid hsl(0, 0%, 94%);
  margin-bottom: 20px;
}

.input-container span {
  color: hsl(0, 1%, 44%);
  font-weight: bold;
  letter-spacing: 0.3rem;
}

@media (max-width: 768px) {
  .container {
    max-width: 92%;
  }
  input {
    width: 92%;
  }
  .output span {
    font-size: 1.75rem;
  }
  .submit-btn {
    width: 40px;
    height: 40px;
    right: 45%;
    top: 122px;
  }
  .submit-btn img {
    transform: scale(0.5);
  }
}