<div class="header">
    <h1>landing.</h1>
    <div class="nav">
        <a routerLink="/">NFT</a>
        <a routerLink="/product">Product</a>
        <a routerLink="/order">Order</a>
        <a routerLink="/results">Results</a>
        <a routerLink="/rating">Rating</a>
        <a routerLink="/stats">Stats</a>
        <a routerLink="/age">Age Calculator</a>
        <a routerLink="/form">Form Component</a>
        <a routerLink="/social">Social Proof</a>
        <a routerLink="/article">Article</a>
        <a routerLink="/accordion">Accordion</a>

    </div>
</div>