<div class="container" *ngIf="!ratingSubmitted">
  <img src="./images/icon-star.svg" alt="" />
  <h1>How did we do?</h1>
  <p>
    Please let us know how we did with your support request. All feedback is
    appreciated to help us improve our offering!
  </p>
  <ul>
    <li><button class="btn" (click)="setRating(1)">1</button></li>
    <li><button class="btn" (click)="setRating(2)">2</button></li>
    <li><button class="btn" (click)="setRating(3)">3</button></li>
    <li><button class="btn" (click)="setRating(4)">4</button></li>
    <li><button class="btn" (click)="setRating(5)">5</button></li>
  </ul>
  <button class="btn-submit" (click)="submitRating()">Submit</button>
</div>
<app-thank-you-container *ngIf="ratingSubmitted" [selectedRating]="selectedRating" (rateAgainClicked)="resetRating()"></app-thank-you-container>
