<body>
  
  <div class="container" *ngIf="!ratingSubmitted">
     <img src="../../assets/rating-card/icon-star.svg" alt="" />
  <h1>How did we do?</h1>
  <p>
    Please let us know how we did with your support request. All feedback is
    appreciated to help us improve our offering!
  </p>
  <ul>
    <li><button class="btn" (click)="setRating(1)" title="Very Poor">1</button></li>
    <li><button class="btn" (click)="setRating(2)" title="Poor">2</button></li>
    <li><button class="btn" (click)="setRating(3)" title="Average">3</button></li>
    <li><button class="btn" (click)="setRating(4)" title="Good">4</button></li>
    <li><button class="btn" (click)="setRating(5)" title="Excellent">5</button></li>
  </ul>
  <button class="btn-submit" (click)="submitRating()">Submit</button>
</div>
<app-thank-you-container *ngIf="ratingSubmitted" [selectedRating]="selectedRating" (rateAgainClicked)="resetRating()"></app-thank-you-container>

</body>